# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.env/
venv/
.venv/
*.env
*.venv
*.egg-info/
dist/
build/
pip-log.txt
pytest_cache/
.coverage
.cache/
.tox/
.mypy_cache/
.pytest_cache/
# Jupyter Notebooks
.ipynb_checkpoints/
# PyEnv
.python-version

# ---- Linux ----
*~
.nfs*

# ---- macOS ----
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# ---- VSCode ----
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# ---- Logs and databases ----
*.log
*.sqlite
*.db

# ---- Miscellaneous ----
*.log
*.out
*.tmp
*.bak
*.swp
*.pid
*.seed

# ---- Health Converter Specific ----
health-converter/data/
